{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1 class="text-center">Nutrition</h1>
  {% comment %} <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" /> {% endcomment %}
  <section class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-6 col-md-4 text-center">
        {% for nutrition in nutrition_list %}
        <div class="card text-center">
          <div class="card-bg"></div>
          <a href="{% url 'nutritions_detail' nutrition.id %}">
            <div class="card-content">
              <h2>{{ nutrition.name_of_food }}</h2>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <a class="btn btn-primary" href="{% url 'nutritions_create' %}">Add Nutrition</a>
</div>
{% endblock %}