{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="page-header" style="display:block; text-align:center;">
  <h1>Nutrition</h1>
  <div>
    <a class="btn btn-primary" href="{% url 'nutritions_create' %}">Add
      Nutrition</a>
  </div>
</section>

<section class="honeycomb">
  {% for nutrition in nutrition_list %}
  <div class="honeycomb-cell">
    <div class="card-bg"></div>
    <a style="text-decoration:none" href="{% url 'nutritions_detail' nutrition.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img class="honeycomb-cell__image" src="{% static 'images/barbell-dl gray.jpg' %}" alt="">
        </div>
        <h2 class="honeycomb-cell__title">{{ nutrition.name_of_food }}</h2>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
{% endblock %}