{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center" style="color:white;">
  <div class="row">
    <div class="col">
      <div class="page-header">
        {% if object %}
        <h1>Edit {{object.name_of_food}}</h1>
        {% else %}
        <h1>Add Nutrition</h1>
        {% endif %}
        {% comment %} <img src="{% static '' %}" alt="" /> {% endcomment %}
      </div>
      <div class="">
        <form action="" method="post" class="" autocomplete="off">
          {% csrf_token %}
          <table>
            {{ form.as_table }}
          </table>
          <button type="submit" class="btn btn-primary submit">Submit!</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}