{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock head %}

{% block content %}
<div class="page-header text-center">
  {% if object %}
  <h1>Edit {{object.name}}</h1>
  {% else %}
  <h1>Add a Workout</h1>
  {% endif %}
</div>

<div class="w-75" >
  <form action="" method="post" class="form-container">
      {% csrf_token %}
      <table>
          {{ form.as_table }}
      </table>
      <button type="submit" class="btn-success submit">Submit!</button>
  </form>
</div>
{% endblock content %}