{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js">
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/workout-detail.css' %}" />
<script defer src="{% static 'js/workout-detail.js' %}"></script>
<script defer src="{% static 'js/detail.js' %}"></script>
{% endblock %}
{% block content %}

<div class="container" style="color: white;">
  <div class="row">
    <div class="col">
      <section class="hexagon">
        <div class="hexagon-cell">
          <h1 class="hexagon-cell__title">Workout: {{ workout.muscle_grp }}</h1>
        </div>
      </section>
    </div>
    <div class="break"></div>
    <div class="header_subtext">
      <h2 class="hexagon-cell__para>small"><small>Day of the Week: {{ workout.day_of_week }}</small></h2>
      <p class="hexagon-cell__para>small"><small>Info: {{ workout.description }}</small></p>
      <div class="workout-actions">
        <a href="{% url 'workouts_update' workout.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'workouts_delete' workout.id %}" class="btn btn-danger">Delete</a>
      </div>
      <br>
    </div>
    </section>
    {% comment %} <div class="break"></div> {% endcomment %}
    <hr />
    <!--SECTION BREAK ADD BOOTSTRAP HERE-->
    <div class="workouts-exercise-container">
      <section class="workouts">
        <div class="weekly-tracker"
          style="background-image: url('/static/images/kamehousewide.jpeg'); background-repeat: no-repeat; background-size: cover;">
          <h2>Weekly Workout Tracker</h2>
          <h4 class="progress-msg">Get your workouts in!</h4>
          <div class="break"></div>
          <div style="position: relative;">
            <img class="kamehameha" src="{% static 'images/kamehameha.png' %}" alt="" style="width: 100px;">

            <div class="progress w-75"
              style="top: 35px; left: 100px; position: absolute; background-color: transparent !important;">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            </div>
            <div class="break"></div>
          </div>
          <h3>Log Workout</h3>
          <form action={% url 'add_didworkout' workout.id %} method="post" class="subsection-content">
            {% if workout.worked_out_or_nah %}
            <p class="workedout">{{workout.muscle_grp}} has been pumped up today!</p>
            {% else %}
            <p class="notworkedout">{{workout.muscle_grp}} is looking kinda soft today!</p>
            {% endif %}
            {% csrf_token %}
            {{ did_workout_form.as_p }}
            <button type="submit" class="btn btn-primary submit">Log Date</button>
            <button class="btn btn-primary submit log-week">"Kame-hame-haaa!!!"</button>
          </form>
        </div>
      </section>
      <hr />
      <section>
        <h3>Past Workouts</h3>
        {% if workout.didworkout_set.all.count %}
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Did you Workout?</th>
            </tr>
          </thead>
          <tbody>
            {% for didworkout in workout.didworkout_set.all %}
            <tr>
              <td>{{didworkout.date}}</td>
              <td>{{didworkout.get_did_workout_display}}</td>
              <td><a href="{% url 'didworkouts_update' didworkout.id %}" class="btn btn-warning">Edit</a></td>
              <td><a href="{% url 'didworkouts_delete' didworkout.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="subsection-content">{{user.username}} has never worked out {{workout.muscle_grp}}. Do you even lift,
          {{user.username}}?</p>
        {% endif %}
      </section>
      <hr />
      <!--SECTION BREAK ADD BOOTSTRAP HERE-->
      <section class="exercises">
        <h3>{{ workout.muscle_grp }} Routine</h3>
        <div class="subsection-content">
          {% if workout.exercises.count %}
          <div class="container">
            <div class="row">
              {% for exercise in workout.exercises.all %}
              <div class="col-3">
                <a style="text-decoration:none;color:white;" href="{% url 'exercises_detail' exercise.id %}">
                  <p>{{ exercise.name }}</p>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
          {% else %}
          <p class="no-exercises">Add some {{workout.muscle_grp}} exercises to the routine!</p>
          {% endif %}
        </div>
        <hr />
        <!--SECTION BREAK ADD BOOTSTRAP HERE-->
        <h3>Available Exercises</h3>
        <div class="subsection-content">
        </div>
        {% if exercises.count %}
        <div class="container">
          <div class="row">
            {% for exercise in exercises.all %}
            <div class="col col-4 col-sm-4 col-md-3 col-lg-2 align-items-center">
              <div class="card d-flex justify-content-center align-items-center">
                <a href="{% url 'exercises_detail' exercise.id %}">
                  <p>{{ exercise.name }}</p>
                </a>
                <form action="{% url 'assoc_exercise' workout.id exercise.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary submit">Add Exercise</button>
                </form>
              </div>
            </div>
            {% endfor %}
          </div>
          {% comment %} <div class="color-block" style="background-color: {{ exercise.color }}"></div> {% endcomment %}
        </div>
        {% endif %}
    </div>
  </div>
</div>
<br />
<br />
<br />
{% endblock %}

<!--this is a test comment-->