{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/workout-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="workout-container">
  <div class="workout-img">
    {% comment %} <img 
      src="{% static 'images/' %}" 
      alt=""
    > {% endcomment %}
  </div>
  <div class="workout-details">
    <h1>{{ workout.muscle_grp }}</h1>
    <h2>{{ workout.day_of_week }}</h2>
    <p>{{ workout.description }}</p>
    <div class="workout-actions">
      <a href="{% url 'workouts_update' workout.id %}" class="btn warn">Edit</a>
      <a href="{% url 'workouts_delete' workout.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="workouts-toy-container">
    <section class="workouts">
      <div class="subsection-title">
        <h2>Workouts</h2>
        {% comment %} <img 
          src="{% static 'images/' %}" 
          alt=""
        />
        <img 
          src="{% static 'images/' %}"
          alt=""
        />
        <img 
          src="{% static 'images/' %}" 
          alt=""
        /> {% endcomment %}
      </div>

      <h3>Add a Workout Date</h3>
      <form
      method="post" 
      class="subsection-content"
      >
        {% csrf_token %}
        {{ did_workout_form.as_p }}
        <button type="submit" class="btn submit">Add Workout Date</button>
      </form>
    <h3>Past Workouts</h3>
      <table>
        <thead>
          <tr><th>Date</th><th>Did you Workout?</th></tr>
        </thead>
        <tbody>
          {% for didworkout in workout.didworkout_set.all %}
            <tr>
              <td>{{didworkout.date}}</td>
              <td>{{didworkout.get_did_workout_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </section>
  </div>

{% endblock %}