{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/workout-detail.css' %}"
/>
<script defer src="{% static 'js/workout-detail.js' %}"></script>
<script defer src="{% static 'js/detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="workout-container">
  <div class="workout-img">
    {% comment %} <img 
      src="{% static 'images/' %}" 
      alt=""
    > {% endcomment %}
  </div>
  <div class="workout-details">
    <h1>{{ workout.muscle_grp }}</h1>
    <h2>{{ workout.day_of_week }}</h2>
    <p>{{ workout.description }}</p>
    <div class="workout-actions">
      <a href="{% url 'workouts_update' workout.id %}" class="btn warn">Edit</a>
      <a href="{% url 'workouts_delete' workout.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="workouts-exercise-container">
    <section class="workouts">
      <div class="subsection-title">
        <h2>Monthly Workout Tracker</h2>
        <h4 class="progress-msg">Get your workouts in!</h4>
        {% comment %} <img 
          src="{% static 'images/' %}" 
          alt=""
        />
        <img 
          src="{% static 'images/' %}"
          alt=""
        />
        <img 
          src="{% static 'images/' %}" 
          alt=""
        /> {% endcomment %}
      </div>

      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
      </div>

      <h3>Log Workout</h3>
      <form
      action={% url 'add_didworkout' workout.id %}
      method="post" 
      class="subsection-content"
      >
      {% if workout.worked_out_or_nah %}
      <p class="workedout">{{workout.muscle_grp}} has been pumped up today!</p>
      {% else %}
      <p class="notworkedout">{{workout.muscle_grp}} is looking kinda soft today!</p>
      {% endif %}
        {% csrf_token %}
        {{ did_workout_form.as_p }}
        <button type="submit" class="btn submit">Log</button>
      </form>
    <h3>Past Workouts</h3>
    {% if workout.didworkout_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Did you Workout?</th><th></th></tr>
        </thead>
        <tbody>
          {% for didworkout in workout.didworkout_set.all %}
            <tr>
              <td>{{didworkout.date}}</td>
              <td>{{didworkout.get_did_workout_display}}</td>
              <td><a href="{% url 'didworkouts_update' didworkout.id %}" class="btn warn">Edit</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <p class="subsection-content">{{user.username}} has never worked out {{workout.muscle_grp}}. Do you even lift, {{user.username}}?</p>
    {% endif %}
    </section>
    <section class="exercises">
      <div class="subsection-title">
        <h2>Exercises</h2>
        {% comment %} <img src="{% static 'images/' %}" alt="" />
        <img src="{% static 'images/' %}" alt="" />
        <img src="{% static 'images/' %}" alt="" /> {% endcomment %}
      </div>
      <h3>{{ workout.muscle_grp }}'s exercises</h3>
      <div class="subsection-content">
        {% if workout.exercises.count %}
          {% for exercise in workout.exercises.all %}
            <div class="exercise-container">
              <div 
                class="color-block">
              </div>
              <a href="{% url 'exercises_detail' exercise.id %}">
                <p>{{ exercise.name }}</p>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p class="no-exercises">{{workout.muscle_grp}} doesn't have any exercises 😞</p>
        {% endif %}
      </div>
      <h3>Available exercises</h3>
      <div class="subsection-content">
  </div>
      {% comment %} We'll display available exercises here {% endcomment %}
      {% if exercises.count %}
        {% for exercise in exercises.all %}
          <div class="exercise-container">
            <div 
              class="color-block"
              style="background-color: {{ exercise.color }}"
            ></div>
            <a href="{% url 'exercises_detail' exercise.id %}">
              <p>A {{ exercise.color }} {{ exercise.name }}</p>
            </a>
            <form action="{% url 'assoc_exercise' workout.id exercise.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Add Exercise</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-exercises">
          {{workout.name}} already has all the available exercises 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}