{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/workout-index.css' %}">
{% endblock head %}

{% block content %}

<section class="page-header" style="display:block; text-align:center;">
    <h1>Workouts</h1>
    <hr />
    <div>
        <a class="btn btn-primary" href="{% url 'workouts_create' %}">Add Workout</a>
    </div>
</section>

<section class="honeycomb">
    {% for workout in workouts %}
    <div class="honeycomb-cell">
        <a style="text-decoration:none" href="{% url 'workouts_detail' workout.id %}">
            <div class="card-content">
                <div class="card-img-container">
                    <img class="honeycomb-cell__image" src="{% static 'images/barbell-dl gray.jpg' %}" alt="">
                </div>
                <h2 class="honeycomb-cell__title">{{ workout.day_of_week}}</h2>
                <p class="honeycomb-cell__para"><small>{{ workout.muscle_grp }}</small></p>
                <p class="honeycomb-cell__para"><small>{{ workout.description }}</small></p>
            </div>
        </a>
    </div>
    {% endfor %}
</section>

{% endblock content %}