{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock head %}

{% block content %}

<div style="color:white;">
    <header class="page-header">
        <h1>About Workout City</h1>

    </header>
    <hr />
    <h3 style="text-align:center;">Team MGM: Meet the Devs</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card p-0">
                <div class="card-image"> <img
                        src="{% static 'images/MarcoMoranProfile.jpg' %}"
                        alt=""> </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h4 class="pt-2">Marco Moran</h4>
                    <h5>Software Engineer</h5>
                    <h5><a style="text-decoration:none" href="https://www.linkedin.com/in/marcomoran26/">LinkedIn</a></h5>
                    <h5><a style="text-decoration:none" href="https://github.com/fattony26">GitHub</a></h5>
                    <h5><a style="text-decoration:none" href="https://marcosworld.dev/">Portfolio</a></h5>
                    <ul class="social-icons d-flex justify-content-center">
                        <li style="--i:1"> <a href="#"> <span class="fab fa-facebook"></span> </a> </li>
                        <li style="--i:2"> <a href="#"> <span class="fab fa-twitter"></span> </a> </li>
                        <li style="--i:3"> <a href="#"> <span class="fab fa-instagram"></span> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card p-0">
                <div class="card-image"> <img
                        src="{% static 'images/GiorgioVHProfile.jpg' %}"
                        alt=""> </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h4 class="pt-2">Giorgio von Horoch</h4>
                    <h5>Software Engineer</h5>
                    <h5><a style="text-decoration:none"
                            href="https://www.linkedin.com/in/jorge-von-horoch/">LinkedIn</a>
                    </h5>
                    <h5><a style="text-decoration:none" href="https://github.com/giorgiovh">GitHub</a></h5>
                    <h5><a style="text-decoration:none" href="https://jorgevh.com/">Portfolio</a></h5>
                    <ul class="social-icons d-flex justify-content-center">
                        <li style="--i:1"> <a href="#"> <span class="fab fa-facebook"></span> </a> </li>
                        <li style="--i:2"> <a href="#"> <span class="fab fa-twitter"></span> </a> </li>
                        <li style="--i:3"> <a href="#"> <span class="fab fa-instagram"></span> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card p-0">
                <div class="card-image"> <img
                        src="{% static 'images/MichaelSchwartz.png' %}"
                        alt=""> </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h4 class="pt-2">Michael Schwartz</h4>
                    <h5>Software Engineer</h5>
                    <h5><a style="text-decoration:none"
                            href="https://www.linkedin.com/in/schwartzbewithyou/">LinkedIn</a>
                    </h5>
                    <h5><a style="text-decoration:none" href="https://github.com/smj2021">GitHub</a></h5>
                    <h5><a style="text-decoration:none" href="https://schwartzbewithyou.com/">Portfolio</a></h5>
                    <ul class="social-icons d-flex justify-content-center">
                        <li style="--i:1"> <a href="#"> <span class="fab fa-facebook"></span> </a> </li>
                        <li style="--i:2"> <a href="#"> <span class="fab fa-twitter"></span> </a> </li>
                        <li style="--i:3"> <a href="#"> <span class="fab fa-instagram"></span> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}