{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      {% if not user.is_authenticated %}
      <div class="container">
        <div class="row m-5 no-gutters shadow-lg">
          <div class="col-md-6 p-0">
            <img class="img-fluid" src="{% static 'images/goku-db-training.gif' %}" alt="Goku Training"
              style="min-height:100%;" />
          </div>
          <div class="col-md-6 bg-white p-5">
            <h4 class="pb-3 text-center">Login</h4>
            <div class="form-style">
              <form action="{% url 'home' %}" method="post" class="login justify-content-around align-items-center">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="" type="hidden" name="next" value="{{ next }}">
                <button type="submit" class="btn btn-success w-100 font-weight-bold mt-2 submit">Login</button>
              </form>
              <div class="text-center sideline mt-2">OR</div>
              <form action="{% url 'signup' %}">
                <button type="submit" class="btn btn-primary w-100 font-weight-bold mt-2"><i aria-hidden="true"></i>
                  Sign Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center">
          <h1 class="block">Welcome to Workout City!</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center">
          <img class="img-fluid" src="{% static 'images/clothes-ripping-flexing.gif' %}" alt="Explosive Flex" style="min-height:100%;" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center">
          <p>Add a workout <a href="{% url 'workouts_create' %}">here!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}