{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <section class="page-header">
        <div class="workout-container">
          <img src="{% static 'images/goku-db-training.gif' %}" alt="Goku Training" />
        </div>
      </section>

      {% if not user.is_authenticated %}
      <section>
        <div class="container">
          <div class="card">
            <div class="d-flex justify-content-center">
              <h4>Login</h4>
            </div>
            <form action="{% url 'home' %}" method="post"
              class="login form-control d-flex justify-content-around align-items-center">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="hidden" name="next" value="{{ next }}">
              <button type="submit" class="btn-success submit">Login</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


{% endif %}
{% endblock %}